<% include partials/header %>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
	<link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
</head>
<body>
<div class="container">

		<div class="jumbotrons">
		<h1>ABOUT US</h1>
		<h3>WE ARE THE INCOGNITO GROUP</h3>



	</div>
</div>

<div class="container-fluid">
    <div class="row">

       	<div id="photo">


        	<div class="col-md-4">
            	<img alt="Samip Subedi"src="/raw/samip.jpg">
            	<dl>
                	<dt>
                   		Samip Subedi
                	</dt>
                </dl>
        	</div>
        	<div class="col-md-4">
            	<img alt="Avishek " src="/raw/avishek.jpg">
            	<dl>
                	<dt>
                    	Avishek Kumar Yadav
                	</dt>


            	</dl>
            </div>
        	<div class="col-md-4">
            	<img alt="Prakash" src="/raw/prakash.jpg">
            	<dl>
                	<dt>
                   		Prakash Dwip Pokhrel
                	</dt>
                </dl>
        	</div>
            <div class="col-md-2"></div>


            <div class="col-md-2"></div>
    	</div>
	</div>
</div>

<script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
