<% include partials/header %>
    <style>
      #map {
        height: 300px;
        width: 100%;
       }
    </style>

    <link rel="stylesheet" type="text/css" href="/stylesheets/about.css">
     <link rel="stylesheet" type="text/css" href="/stylesheets/social.css">
     <link rel="stylesheet" type="text/css" href="/stylesheets/contact.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/ver.css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <body>
    <div class="container">

    <div class="jumbotrons">
    <h1>Get in Touch</h1>
    <h3> We're always standing by and eager to help </h3>



  </div>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat:27.704762, lng:84.407673};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 14,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDWbIr9Z17DsnijEywNXCyfO6_xSVimKlI&callback=initMap">
    </script>
    <script
  src="https://code.jquery.com/jquery-3.2.1.js"
  integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE="
  crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<br>
<br>
<div class= "container">
    <div class = "row">
        <div class="col-lg-6">

                <h2>Contact Information</h2>
                <h4> The Incognito Group <h4>
                <h4> Lumbini ICT College </h4>
                <h4>Gaindakot, Nawalparasi </h4>

                <br>
                <hr>

                <h2>Find Us on </h2>
              <ul class="social-icons">
                    <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-rss"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
                    <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
                </ul>


        </div>
         <div class="col-lg-6">

          <h2>We'd Love to Hear from You!</h2>
          <h4> How can we help? Send us an email if you have some query.</h4>
            <form id="contact-form" action="https://api.formbucket.com/f/buk_5Vv4Ls9VF7wxWVXEtq3aQpHx"   method="post">
        <div class="form-group center-block">
          <label for="inputName">Name</label>
          <input type="text" class="form-control contact-input" id="inputName" placeholder="Name" name="Name" required>
        </div>
        <div class="form-group center-block">
          <label for="inputEmail">Email</label>
          <input type="email" class="form-control contact-input" id="inputEmail" placeholder="Email" name="Email" required>
        </div>
        <div class="form-group center-block">
          <label for="inputMessage">Message</label>
          <textarea id="inputMessage" class="form-control contact-input" rows="3" placeholder="Your Message" name="Message" required></textarea>
        </div>

        <div class="text-center">
          <button class="btn btn-default" type="submit" id="email-submit-btn" value="Send">
            Submit
          </button>
        </div>

      </form>


</div>


      </script>
  </body>
</html>

<% include ./partials/footer.ejs %>
